.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: #1d2225;
  color: white;
  z-index: 2;
}

.logo-container {
  flex: 1;
}

.logo {
  width: 50px;
  border-radius: 3px;
}

.search-container {
  flex: 2;
}

.search-bar {
  border: 1px solid #7e7e7e;
  background-color: transparent;
  color: white;
  border-radius: 4px;
  display: inline-block;
  height: 40px;
  width: 90%;
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
}

.search-bar:hover {
  border-color: #409eff;
}


.nav-links {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.user-container {
  flex: 1;
  text-align: right;
  margin-right: 2.5rem;
}

.login a {
  color: #fff;
}

.user-photo {
  width: 40px;
  border-radius: 50%;
}

.is-in-queue-container {
  display: flex;
  align-items: center;
  gap: 5px;
  
}

.is-in-queue {
  background-color: #eb3c3c;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
}

.is-in-queue:hover {
  box-shadow: 0 0 10px rgba(251, 243, 2, 0.969);
}

.is-in-queue a {
  text-decoration: none;
  cursor: pointer;
}

.is-in-queue p {
  margin: 0;
}
